<ion-header>
  <ion-navbar>
    <ion-title>
      {{exam?.title}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides style="height: 93%">
    <ion-slide *ngFor="let q of allQuestionsAfterFormat;let i =index ">
      <div class="question">
        <span>{{q.num}}、{{q.title}}</span>
      </div>
      <div>
        <sg-button [mode]="q.type" [options]="q.options" (result)="getUserAnswer($event,i,q.id,q.rightAnswer,q.score)"></sg-button>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="bottom-btn">
    <button ion-button block class="default" (click)="goToNextQuestion()" [disabled]="!canClick" *ngIf="!slides.isEnd()">确定</button>
    <button ion-button block class="default" (click)="finish()" [disabled]="!canClick" *ngIf="slides.isEnd()">交卷</button>
  </div>
</ion-content>
